<footer class="">
    <a href="index.html" class=""
        ><img src="/src/assets/images/logo-purpura.png" alt="Logo" class=""
    /></a>
    <a href="index.html" class="">Portada</a>
    <a href="index.html" class="">Miembros</a>
    <a href="noticias.html" class="">Noticias</a>
    <a href="#" class="">Miscelánea</a>
    <div class="">
        <a href="#" class=""><span class=""></span></a>
        <a href="#" class=""><span class=""></span></a>
        <a href="#" class=""><span class=""></span></a>
    </div>
    <div class="">
        <ul class="">
            <li class="">
                <span
                    class="fa-brands fa-whatsapp"
                    style="color: #006f18"
                ></span>
                +34 606 060 606
            </li>
            <li class="">
                <span
                    class="fa-regular fa-envelope"
                    style="color: #006f18"
                ></span>
                info@clubcheckmate.net
            </li>
        </ul>
    </div>
    <div class="">
        <div class="">
            2023 &copy; UOC - Master en Desarrollo de sitios y aplicaciones web
        </div>
        <div class="">por Alejandro González Hernández</div>
    </div>
</footer>
