<header
    class="col-start-2 col-end-2 text-violet-800 py-2 border-b border-b-violet-800"
>
    <div class="flex justify-between items-center px-3">
        <a class="flex py-1 me-4 hover:text-amber-600" href="index.html">
            <img
                src="/src/assets/images/logo-purpura.png"
                alt="Logo"
                class="h-[50px] inline-block me-2"
            />
            <div class="">
                <span class="">Club de ajedrez</span>
                <div class="text-xl/6">CHECKMATE</div>
            </div>
        </a>
        <button
            class="block h-[40px] w-[56px] fa-solid fa-bars fa-2xl px-3 py-1 border rounded-md border-violet-800 sm:hidden"
            type="button"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class=""></span>
        </button>
        <div class="hidden sm:flex" id="navbarNavAltMarkup">
            <div class="flex">
                <a class="p-2 text-base hover:text-amber-600" href="index.html"
                    >Miembros</a
                >
                <a
                    class="p-2 text-base hover:text-amber-600"
                    href="noticias.html"
                    >Noticias</a
                >
                <a class="p-2 text-base hover:text-amber-600" href="#"
                    >Miscelánea</a
                >
            </div>
        </div>
    </div>
</header>
