<header class="">
    <div class="">
        <a class="" href="index.html">
            <img
                src="/src/assets/images/logo-purpura.png"
                alt="Logo"
                class=""
            />
            <div class="">
                <span class="">Club de ajedrez</span>
                <div>CHECKMATE</div>
            </div>
        </a>
        <button
            class=""
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class=""></span>
        </button>
        <div class="" id="navbarNavAltMarkup">
            <div class="">
                <a class="" href="index.html">Miembros</a>
                <a class="" href="noticias.html">Noticias</a>
                <a class="" href="#">Miscelánea</a>
            </div>
        </div>
    </div>
</header>
