<main class="col-start-2 col-end-2 flex flex-col p-4 items-center">
    <h1 class="text-[32px]/9 text-violet-800 font-bold pb-8 mb-2">
        Miembros del club
    </h1>
    <div class="flex gap-8 justify-evenly flex-wrap">
        <div
            class="w-[275px] p-2 shadow-[0_8px_16px_0_rgba(0,0,0,0.15)] border border-black/20 rounded-md"
        >
            <img
                src="/src/assets/images/profiles/perfil-01.png"
                alt="Foto de Juan Gómez"
                class="rounded-md"
            />
            <div class="text-start p-2">
                <h5 class="mb-2 text-violet-800 text-xl/6">Juan Gómez</h5>
                <h6 class="mb-4 text-violet-800 text-base/[1.2]">
                    <span class="italic me-1">ELO:</span> 1523
                </h6>
                <p class="">
                    Descubrió el ajedrez cuando se metió en la nariz un peón del
                    tablero de su padre. Desde entonces se convirtió en un
                    apasionado del juego. No es un gran jugador, pero ¡le echa
                    narices!.
                </p>
            </div>
        </div>
        <div
            class="w-[275px] p-2 shadow-[0_8px_16px_0_rgba(0,0,0,0.15)] border border-black/20 rounded-md"
        >
            <img
                src="/src/assets/images/profiles/perfil-02.png"
                alt="Foto de Cordell Norris"
                class="rounded-md"
            />
            <div class="text-start p-2">
                <h5 class="mb-2 text-violet-800 text-xl/6">Cordell Norris</h5>
                <h6 class="mb-4 text-violet-800 text-base/[1.2]">
                    <span class="italic me-1">ELO:</span>
                    <span class="fa-solid fa-infinity"></span>
                </h6>
                <p class="">
                    Su estrategia favorita es sencilla: Basta con mirar el
                    tablero para que las piezas de su oponente comiencen a
                    temblar, hasta que se rinden todas. Y eso que en el fondo es
                    un tio muy afable.
                </p>
            </div>
        </div>
        <div
            class="w-[275px] p-2 shadow-[0_8px_16px_0_rgba(0,0,0,0.15)] border border-black/20 rounded-md"
        >
            <img
                src="/src/assets/images/profiles/perfil-03.png"
                alt="Foto de Carlos Ferraz"
                class="rounded-md"
            />
            <div class="text-start p-2">
                <h5 class="mb-2 text-violet-800 text-xl/6">Carlos Ferraz</h5>
                <h6 class="mb-4 text-violet-800 text-base/[1.2]">
                    <span class="italic me-1">ELO:</span> 1816
                </h6>
                <p class="">
                    Capaz de ganar a cualquiera, pero con tiempo: ¡es la
                    parsimonia en estado puro!
                </p>
            </div>
        </div>
        <div
            class="w-[275px] p-2 shadow-[0_8px_16px_0_rgba(0,0,0,0.15)] border border-black/20 rounded-md"
        >
            <img
                src="/src/assets/images/profiles/perfil-04.png"
                alt="Foto de Alex Pérez"
                class="rounded-md"
            />
            <div class="text-start p-2">
                <h5 class="mb-2 text-violet-800 text-xl/6">Alex Pérez</h5>
                <h6 class="mb-4 text-violet-800 text-base/[1.2]">
                    <span class="italic me-1">ELO:</span> 1260
                </h6>
                <p class="">
                    Hace poco que ha cambiado el poker por el ajedrez, y, aunque
                    no se le da mal, aun insiste en intentar leer la jugada en
                    los gestos de su oponente.
                </p>
            </div>
        </div>
        <div
            class="w-[275px] p-2 shadow-[0_8px_16px_0_rgba(0,0,0,0.15)] border border-black/20 rounded-md"
        >
            <img
                src="/src/assets/images/profiles/perfil-05.png"
                alt="Foto de Sonia Bruguera"
                class="rounded-md"
            />
            <div class="text-start p-2">
                <h5 class="mb-2 text-violet-800 text-xl/6">Sonia Bruguera</h5>
                <h6 class="mb-4 text-violet-800 text-base/[1.2]">
                    <span class="italic me-1">ELO:</span> 1745
                </h6>
                <p class="">
                    Si la ves sonreir, tiembla. Si la ves seria, también. Sea
                    cual sea la situación del tablero, ella seguro que ya la
                    había valorado.
                </p>
            </div>
        </div>
        <div
            class="w-[275px] p-2 shadow-[0_8px_16px_0_rgba(0,0,0,0.15)] border border-black/20 rounded-md"
        >
            <img
                src="/src/assets/images/profiles/perfil-06.png"
                alt="Foto de Luis Pedroche"
                class="rounded-md"
            />
            <div class="text-start p-2">
                <h5 class="mb-2 text-violet-800 text-xl/6">
                    Luis Pedroche "Luisín"
                </h5>
                <h6 class="mb-4 text-violet-800 text-base/[1.2]">
                    <span class="italic me-1">ELO:</span> -
                </h6>
                <p class="">
                    Este joven padawan disfruta como nadie jugando ¡y no se le
                    da nada mal! Si tienes la oportunidad de jugar con él, no
                    sabes qué te enamorará más, si su forma de jugar o él mismo.
                </p>
            </div>
        </div>
        <div
            class="w-[275px] p-2 shadow-[0_8px_16px_0_rgba(0,0,0,0.15)] border border-black/20 rounded-md"
        >
            <img
                src="/src/assets/images/profiles/perfil-07.png"
                alt="Foto de José Luis Pedroche"
                class="rounded-md"
            />
            <div class="text-start p-2">
                <h3 class="mb-2 text-violet-800 text-xl/6">
                    José Luis Pedroche
                </h3>
                <h5 class="mb-4 text-violet-800 text-base/[1.2]">
                    <span class="italic me-1">ELO:</span>1634
                </h5>
                <p class="">
                    Padre de Luisín, no esperaba que su hijo jugara ya mejor que
                    él. Y aunque eso le enorguellece, se esfuerza en que no le
                    gane con facilidad. Lleva perdidos 20 Kg.
                </p>
            </div>
        </div>
        <div
            class="w-[275px] p-2 shadow-[0_8px_16px_0_rgba(0,0,0,0.15)] border border-black/20 rounded-md"
        >
            <img
                src="/src/assets/images/profiles/perfil-08.png"
                alt="Foto de Luis Pedroche Senior"
                class="rounded-md"
            />
            <div class="text-start p-2">
                <h4 class="mb-2 text-violet-800 text-xl/6">
                    Luis Pedroche Sr. "el Yayo"
                </h4>
                <h5 class="mb-4 text-base/[1.2] text-violet-800">
                    <span class="italic me-1">ELO:</span> 2114
                </h5>
                <p class="">
                    Abuelo de Luisín y padre de José Luis, el Yayo es uno de los
                    fundadores del club (cuando fue joven y melenudo). Aunque
                    sigue en activo, se dedica más a ayudar a quienes quieren
                    entrar en este mundillo.
                </p>
            </div>
        </div>
    </div>
    <div class="p-6 text-start max-w-2xl">
        <h3 class="mb-7 text-xl/6 text-violet-800 font-bold">
            ¿Quieres formar parte del club? ¡Contacta con nosotros!
        </h3>
        <p class="mb-4">
            Puedes hacerlo a través de los siguientes métodos y te informaremos
            de todo lo referente al club.:
        </p>

        <ul class="ps-8 mb-4">
            <li>
                Mandanos un correo a
                <span class="italic text-violet-800"
                    >info@clubcheckmate.net</span
                >
            </li>
            <li>
                Llámanos o escríbenos un WhatsApp al
                <span class="italic text-violet-800">+34 606 060 606</span>
            </li>
            <li>
                A través de nuestro
                <a href="#" class="italic text-violet-800 hover:text-amber-600"
                    >formulario de contacto</a
                >
            </li>
        </ul>
    </div>
</main>
